main.single {
    --bs-bg-opacity: .95;
    min-height: 90vh;
  }
  
  main.single a {
    text-decoration: none;
  }
  
  @media screen and (max-width: 767px) and (min-width: 576px) {
    main.single img {
      width: 50vw;
    }
  }
  
  @media screen and (min-width: 768px) {
    main.single img {
      width: 30vw!important;
    }
  }
  
  @media screen and (min-width: 2000px) {
    main.single img {
      width: 20vw!important;
    }
  }